<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sarktest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72CA1F841C747EE600CFEE2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72CA1F981C747EE700CFEE2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72CA1FA31C747EE700CFEE2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
