<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Sark by lorenzopicoli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/github-light.css" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{site.path}}/javascripts/process-rel-links.js" type="text/javascript"></script>`
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Sark</h1>
      <h2 class="project-tagline">Build and run Xcode projects from anywhere!</h2>
      <a href="https://github.com/lorenzopicoli/Sark" class="btn">View on GitHub</a>
      <a href="https://github.com/lorenzopicoli/Sark/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/lorenzopicoli/Sark/tarball/master" class="btn">Download .tar.gz</a>
    </section>
    <section class="main-content">
     {{ content }}
    </section>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-45783445-3");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
